.main-div mat-card{
  padding:0px;
}  

.login-form{
  padding: 20px;
}

.login-page-container {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;

  .forgot-pass, .term-cond {
      font-size: 10px;
  }
  .forgot-pass{
      color: black;
  }
}

mat-card {
padding: 0 83px;
// box-shadow: none;
}
mat-card-title, mat-card-subtitle {
text-align: center;
}
mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}
.carousel-logo {
left: 5%;
text-align: left;
top: 2px;
bottom: auto;
right: auto;
img {
  width: 60%;
}
}
.pad-top-100 {
  padding-top: 100px;
}
.login-carousal {
  width: 60%;
}
.login-right-pane {
width: 40%;
}
.form-logo {
text-align: center;
img {
  width: 50%;
}
}

// @include media-breakpoint-down(md) {
// mat-card {
//   padding: 10px;
// }
// .pad-top-100 {
//   padding-top: 40px;
// }
// }

// @include media-breakpoint-down(sm) {
// .pad-top-100 {
//     padding-top: 40px;
// }
// .login-right-pane {
//     width: 100%;
//     height: 100%;
// }
// .login-carousal {
//   display: none;
// }
// }
