<!-- <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex=25%>
        <mat-toolbar color="primary">Welcome to Kart-it</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
            <mat-form-field appearance="fill">
              <input matInput placeholder="Username" formControlName="email">
            </mat-form-field>
          
            <mat-form-field appearance="fill">
              <input matInput type="password" placeholder="password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button type="submit" class="mt-5" color="warn">Login</button>
            <!--<button mat-raised-button type="submit" class="mt-5" color="accent" (click)="changeTheme()">Change theme</button>-->
          <!--</form>
          
    </mat-card>
</div> -->

<div class="login-page-container">
  <div fxLayout="row">
    <app-logincarausel></app-logincarausel>
    <!-- <div class="login-carousal" class="d-none d-md-block"> -->
    <div class="login-carousal">
      <!--ngb-carousel>-->
        <ng-template>
          <mat-card *ngFor="let img of images; index as i"><!--ngbslide-->
          <div class="carousel-caption">
            <img src="assets/imagesDysonInfosysLogo_alt.png" alt="Kart-it">
          </div>
          <div class="carousel-caption carousel-logo">
            <img src="assets/images/kart-it.png" alt="Kart-it">
          </div>
          <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper">
              <img [src]="img" width="100%" alt="Image {{i + 1}}">
            </div>
          </a>
        </mat-card>
        </ng-template>
      <!--</ngb-carousel>-->
    </div>
    <div class="login-right-pane">
      <div class="pad-top-100"></div>
      <div class="form-logo d-md-none">
        <img src="assets/images/kart-it.png" alt="Kart-it">
      </div> 
      <mat-card class="mat-elevation-z">
        <mat-card-title color="primary">
          Welcome to Kart-it
        </mat-card-title>
        <!-- <button (close)="close()"></button> -->
        <!--<p *ngIf="alertmessage!= ''">
          <button mat-button (click)="openOtherDialog()">Open dialog in code</button>
          <ngb-alert [type]="'danger'" (close)="close()">{{ alertmessage }}</ngb-alert>
        </p>-->
        <mat-card-subtitle>
          Enter your credentials to login here
        </mat-card-subtitle>
        <form class="" [formGroup]="SignupForm" (ngSubmit)="onSubmit()">
          <mat-card-content>
            <div formGroupName="userData">
              <div class="form-group">
                <mat-form-field fxFlex="100">
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="username" class="form-control" #username formControlName="username">
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field fxFlex="100">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="password" type="password" class="form-control" #password
                    formControlName="password" />
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="space-between center">
            <a class="forgot-pass" href="#">Forget Password?</a>
            <button class="btn-slick" mat-raised-button color="primary" type="submit">Login</button>
          </mat-card-actions>
        </form>
        <mat-card-footer fxLayoutAlign="space-around center">
          <a class="term-cond" href="#">Terms and Conditions | Privacy Policy</a>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
