<div fxLayoutAlign="center" fxFlexFill class="main-div">
    <mat-card fxFlex=100%>
        <mat-toolbar color="primary">Welcome to Kart-it</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" >
            <a [routerLink]="['/']">
                <h1>My Store</h1>
            </a>
            <button mat-raised-button type="submit" class="mt-5" color="warn"><a [routerLink]="['']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a></button>
          </form>
          
    </mat-card>
</div>

