
<ngb-carousel>
    <ng-template ngbSlide>
      <img src="../../assets/images/Slider_image01.jpg" alt="Random first slide" height="600" width = "1100">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/images/Slider_image02.jpg" alt="Random second slide" height="600" width = "1100">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/images/Slider_image03.jpg" alt="Random third slide" height="600" width = "1100">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>